# -----------------------------
# Vivado generated directories
# -----------------------------
VGA Controller.cache/
VGA Controller.gen/
VGA Controller.hw/
VGA Controller.ip_user_files/
VGA Controller.runs/
VGA Controller.sim/
VGA Controller.tmp/

# Xilinx temporary directories
.Xil/
**/.Xil/

# -----------------------------
# Vivado log files
# -----------------------------
*.jou
*.log
*.str

# -----------------------------
# User-specific project files
# -----------------------------
*.xpr.user

# -----------------------------
# Simulation outputs
# -----------------------------
*.wdb
*.wcfg
*.vcd

# -----------------------------
# Temporary/editor files
# -----------------------------
*~
*.swp
*.tmp

# -----------------------------
# Operating system files
# -----------------------------
.DS_Store
Thumbs.db